---
http_interactions:
- request:
    method: get
    uri: http://doc.shoalhaven.nsw.gov.au/RSS/SCCRSS.aspx?ID=OpenApps
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '<rss version="2.0" xmlns=""><channel><title>Shoalhaven Applications
        Open for Submission</title><link>http://www.shoalhaven.nsw.gov.au</link><description>Da''s
        open for submission</description><language>en-au</language><ttl>60</ttl><lastBuildDate>Wed,
        19 Jun 2019 03:09:50 GMT</lastBuildDate><copyright>Copyright Shoalhaven City
        Council. All rights reserved.</copyright><item><title>DS19/1264 - Two storey
        dwelling - S4.55(1A) Amend condition 3 - Stormwater</title><description><![CDATA[<table
        style=width: 500px;><tr><td style=width:150px;><b>Date received:</b></td><td>
        18 June 2019</td></tr><tr><td style=width:150px;><b>Application type:</b></td><td>
        Section 96 Amendment</td></tr><tr><td style=width:150px;><b>Address:</b></td><td>
        72 Sanctuary Point Rd, SANCTUARY POINT</td></tr><tr><td style=width:150px;><b>&nbsp;</b></td><td>
        Lot 373 DP 16557</td></tr><tr><td style=width:150px;><b>Submissions close:</b></td><td>
        19 June 2019</td></tr></table>]]></description><link>http://www3.shoalhaven.nsw.gov.au/masterviewUI/modules/ApplicationMaster/default.aspx?page=wrapper&amp;key=125754&amp;propkey=9536</link><guid
        isPermaLink="false">125754</guid><pubDate>Mon, 17 Jun 2019 23:55:47 GMT</pubDate></item><item><title>DS19/1252
        - Single Storey Dwelling. Section 4.55 - Back retaining wall</title><description><![CDATA[<table
        style=width: 500px;><tr><td style=width:150px;><b>Date received:</b></td><td>
        13 June 2019</td></tr><tr><td style=width:150px;><b>Application type:</b></td><td>
        Section 96 Amendment</td></tr><tr><td style=width:150px;><b>Address:</b></td><td>
        28 Como Av, BURRILL LAKE</td></tr><tr><td style=width:150px;><b>&nbsp;</b></td><td>
        Lot 517 DP 1241269</td></tr><tr><td style=width:150px;><b>Submissions close:</b></td><td>
        04 July 2019</td></tr></table>]]></description><link>http://www3.shoalhaven.nsw.gov.au/masterviewUI/modules/ApplicationMaster/default.aspx?page=wrapper&amp;key=125659&amp;propkey=121850</link><guid
        isPermaLink="false">125659</guid><pubDate>Thu, 13 Jun 2019 06:22:24 GMT</pubDate></item><item><title>DA19/1579
        - Dwelling Additions and Deck to Front with Variation to Front Building Line
        Setback</title><description><![CDATA[<table style=width: 500px;><tr><td style=width:150px;><b>Date
        received:</b></td><td> 12 June 2019</td></tr><tr><td style=width:150px;><b>Application
        type:</b></td><td> Development Application</td></tr><tr><td style=width:150px;><b>Address:</b></td><td>
        45 Seaside Pde, DOLPHIN POINT</td></tr><tr><td style=width:150px;><b>&nbsp;</b></td><td>
        Lot 10 Sec 2 DP 201272</td></tr><tr><td style=width:150px;><b>Submissions
        close:</b></td><td> 04 July 2019</td></tr></table>]]></description><link>http://www3.shoalhaven.nsw.gov.au/masterviewUI/modules/ApplicationMaster/default.aspx?page=wrapper&amp;key=125622&amp;propkey=20615</link><guid
        isPermaLink="false">125622</guid><pubDate>Wed, 12 Jun 2019 06:22:21 GMT</pubDate></item><item><title>DA19/1573
        - Urban Dwelling Additions - Demolish  Existing Pergola &amp; Construct New
        Pergola</title><description><![CDATA[<table style=width: 500px;><tr><td style=[...]
