---
http_interactions:
- request:
    method: get
    uri: http://doc.shoalhaven.nsw.gov.au/RSS/SCCRSS.aspx?ID=OpenApps
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '<rss version="2.0" xmlns=""><channel><title>Shoalhaven Applications
        Open for Submission</title><link>http://www.shoalhaven.nsw.gov.au</link><description>Da''s
        open for submission</description><language>en-au</language><ttl>60</ttl><lastBuildDate>Thu,
        13 Jun 2019 02:00:15 GMT</lastBuildDate><copyright>Copyright Shoalhaven City
        Council. All rights reserved.</copyright><item><title>DA19/1554 - Construction
        of a Two Storey Dwelling</title><description><![CDATA[<table style=width:
        500px;><tr><td style=width:150px;><b>Date received:</b></td><td> 05 June 2019</td></tr><tr><td
        style=width:150px;><b>Application type:</b></td><td> Development Application</td></tr><tr><td
        style=width:150px;><b>Address:</b></td><td> 8 Kooyonga Cl, MOLLYMOOK BEACH</td></tr><tr><td
        style=width:150px;><b>&nbsp;</b></td><td> Lot 306  DP 1234415</td></tr><tr><td
        style=width:150px;><b>Submissions close:</b></td><td> 27 June 2019</td></tr></table>]]></description><link>http://www3.shoalhaven.nsw.gov.au/masterviewUI/modules/ApplicationMaster/default.aspx?page=wrapper&amp;key=125457&amp;propkey=120580</link><guid
        isPermaLink="false">125457</guid><pubDate>Wed, 05 Jun 2019 01:23:40 GMT</pubDate></item><item><title>DA19/1550
        - Dual Occupancy With Torrens Title Subdivision</title><description><![CDATA[<table
        style=width: 500px;><tr><td style=width:150px;><b>Date received:</b></td><td>
        04 June 2019</td></tr><tr><td style=width:150px;><b>Application type:</b></td><td>
        Development Application</td></tr><tr><td style=width:150px;><b>Address:</b></td><td>
        28 Bexhill Av, SUSSEX INLET</td></tr><tr><td style=width:150p[...]
